In [1]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

from surprise import Reader, Dataset, SVD
from surprise.model_selection.validation import cross_validate

In [2]:
ratings = pd.read_csv("./ir_assignment_table_ratings.csv") 

ratings.head()

   User-ID  id  Book-Rating
0        2   1            0
1        8   2            5
2    11400   2            0
3    11676   2            8
4    41385   2            0

In [3]:
reader = Reader()
data = Dataset.load_from_df(ratings[['User-ID', 'id', 'Book-Rating']], reader)
svd = SVD()

In [5]:
# Run 5-fold cross-validation and print results
%time cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5,n_jobs=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.4883  3.4861  3.4848  3.4931  3.4880  3.4880  0.0029
MAE (testset)     2.9578  2.9550  2.9555  2.9627  2.9571  2.9576  0.0027
Fit time          37.98   38.44   38.23   38.32   38.24   38.24   0.15
Test time         1.84    1.55    1.55    1.50    1.51    1.59    0.13
CPU times: user 3min 31s, sys: 397 ms, total: 3min 31s
Wall time: 3min 31s

{'test_rmse': array([3.48827216, 3.48607856, 3.48475102, 3.49313232, 3.48795254]),
 'test_mae': array([2.95783816, 2.95503881, 2.95551178, 2.96273799, 2.95711607]),
 'fit_time': (37.97672748565674,
  38.443455934524536,
  38.22981119155884,
  38.31544351577759,
  38.24210476875305),
 'test_time': (1.8402955532073975,
  1.5491175651550293,
  1.5543601512908936,
  1.500565767288208,
  1.5090880393981934)}

In [8]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [9]:
df_title = pd.read_csv('./ir_assignment_table_books.csv', encoding = "utf-8" )
df_title.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,2
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,3
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,4
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,5
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,6
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,7
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,8
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,9
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,10

In [10]:
df_title = df_title[["id","ISBN" , "Book-Title" , "Book-Author"]]
df_title.head()

,id,ISBN,Book-Title,Book-Author
0,1,0195153448,Classical Mythology,Mark P. O. Morford
1,2,0002005018,Clara Callan,Richard Bruce Wright
2,3,0060973129,Decision in Normandy,Carlo D'Este
3,4,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,5,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [11]:
titles = df_title.copy()
titles['Estimate_Score'] = titles['id'].apply(lambda x: svd.predict(989, x).est)

In [12]:
titles = titles.sort_values(by=['Estimate_Score'], ascending=False)
titles.head(10)

,id,ISBN,Book-Title,Book-Author,Estimate_Score
3028,3029,1844262553,Free,Paul Vincent,5.000000
11221,11222,0615116426,Marching Through Culpeper : A Novel of Culpepe...,Virginia Beard Morton,5.000000
82883,82884,3423071516,Der Kleine Hobbit,J. R. R. Tolkien,5.000000
79434,79435,0091842050,The Blue Day Book: A Lesson in Cheering Yourse...,Bradley Trevor Greive,4.766560
12620,12621,8845205118,Il Piccolo Principe Prince Italn,Antoine de Saint-ExupÃ©ry,4.741433
16191,16192,0060248025,Falling Up,Shel Silverstein,4.736356
516,517,0060915544,The Bean Trees,Barbara Kingsolver,4.711749
1953,1954,0440237688,The Giver (Readers Circle),LOIS LOWRY,4.651262
2581,2582,0971942315,The Greatest Discovery,Chris Sorensen,4.632980
388,389,0156528207,The Little Prince,Antoine de Saint-ExupÃ©ry,4.542355

In [64]:
ratings.loc[ratings['id'] == 112012].describe()

             User-ID        id  Book-Rating
count       5.000000       5.0          5.0
mean   143613.200000  112012.0          0.0
std     61951.746377       0.0          0.0
min     60319.000000  112012.0          0.0
25%    123700.000000  112012.0          0.0
50%    125287.000000  112012.0          0.0
75%    192203.000000  112012.0          0.0
max    216557.000000  112012.0          0.0

In [ ]:
dcf