In [3]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

from surprise import Reader, Dataset, SVD
from surprise.model_selection.validation import cross_validate

In [4]:
ratings = pd.read_csv("./ir_assignment_table_ratings.csv") 

ratings.head()

   User-ID  id  Book-Rating
0        2   1            0
1        8   2            5
2    11400   2            0
3    11676   2            8
4    41385   2            0

In [6]:
reader = Reader()
data = Dataset.load_from_df(ratings[['User-ID', 'id', 'Book-Rating']], reader)
svd = SVD()

In [7]:
# Run 5-fold cross-validation and print results
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.4862  3.4882  3.4938  3.4820  3.4951  3.4890  0.0048
MAE (testset)     2.9573  2.9583  2.9640  2.9521  2.9623  2.9588  0.0042
Fit time          48.46   43.63   42.60   45.58   44.14   44.88   2.03
Test time         2.33    1.77    1.95    1.54    1.81    1.88    0.26

{'test_rmse': array([3.48620368, 3.48819652, 3.49375685, 3.48196058, 3.49505355]),
 'test_mae': array([2.95734911, 2.95830712, 2.9640104 , 2.95209112, 2.96229433]),
 'fit_time': (48.46100378036499,
  43.632675647735596,
  42.601290464401245,
  45.58002710342407,
  44.137694358825684),
 'test_time': (2.334099292755127,
  1.768644094467163,
  1.9534111022949219,
  1.5387046337127686,
  1.8139233589172363)}

In [12]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [16]:
df_title = pd.read_csv('./ir_assignment_table_books.csv', encoding = "utf-8" )
df_title.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,2
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,3
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,4
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,5
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,6
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,7
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,8
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,9
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,10

In [17]:
df_title = df_title[["id","ISBN" , "Book-Title" , "Book-Author"]]
df_title.head()

,id,ISBN,Book-Title,Book-Author
0,1,0195153448,Classical Mythology,Mark P. O. Morford
1,2,0002005018,Clara Callan,Richard Bruce Wright
2,3,0060973129,Decision in Normandy,Carlo D'Este
3,4,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,5,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [65]:
titles = df_title.copy()
titles['Estimate_Score'] = titles['id'].apply(lambda x: svd.predict(989, x).est)

In [67]:
titles = titles.sort_values(by=['Estimate_Score'], ascending=False)
titles.head(10)

,id,ISBN,Book-Title,Book-Author,Estimate_Score
3028,3029,1844262553,Free,Paul Vincent,5.000000
82883,82884,3423071516,Der Kleine Hobbit,J. R. R. Tolkien,5.000000
27557,27558,8445071416,El Hobbit,J. R. R. Tolkien,5.000000
706,707,0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,5.000000
19643,19644,0440222028,Simisola,Ruth Rendell,4.974632
915,916,0440219078,The Giver (21st Century Reference),LOIS LOWRY,4.961268
9922,9923,0689817851,Go Ask Alice,Anonymous,4.768155
11221,11222,0615116426,Marching Through Culpeper : A Novel of Culpepe...,Virginia Beard Morton,4.560372
2232,2233,0812550706,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,4.545020
6330,6331,0439136369,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,4.537588

In [64]:
ratings.loc[ratings['id'] == 112012].describe()

             User-ID        id  Book-Rating
count       5.000000       5.0          5.0
mean   143613.200000  112012.0          0.0
std     61951.746377       0.0          0.0
min     60319.000000  112012.0          0.0
25%    123700.000000  112012.0          0.0
50%    125287.000000  112012.0          0.0
75%    192203.000000  112012.0          0.0
max    216557.000000  112012.0          0.0